<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo">fd.io</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/favorites">Favorites</a></li>
       <li><a href="/favorites/new">Add Favorite</a></li>
     </ul>
   </div>
 </nav>
