<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <div class="fd-container">
    <h1 class="fd-header">Edit This Place</h1>
      <div class="row">
        <% include ./partials/_form %>
      </div>
    </div>
  </body>
</html>
